---
name: test

on:
  push: {}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: set up helm
        uses: azure/setup-helm@v4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: run chart-testing (lint)
        run: ct lint --all

      - name: create kind cluster
        uses: helm/kind-action@v1.13.0

      - name: run chart-testing (install)
        run: ct install --all
